.head {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.plus {
    margin: 15px 25px;
    font-size: 40px;
    font-weight: 1000;
    cursor: pointer;
}

/* Dialog Box Css */

dialog {
    border: 1px solid black;
    border-radius: 7px;
}

.dialog {
    display: flex;
    flex-direction: column;
    height: 75vh;
    width: 40vw;
}

dialog input {
    padding: 20px;
    margin: 0 0 20px 0;
    border-radius: 7px;
    font-weight: 500;
}

#content {
    height: 90%;
    padding: 20px;
    margin: 0 0 20px 0;
    border-radius: 7px;
    font-size: 15px;
    font-weight: 500;
}

#addBlog {
    padding: 12px;
    font: bold;
    font-size: 15px;
    color: white;
    background-color: #a72fec;
    border-radius: 7px;
    cursor: pointer;
}

/* Dialog box end */

/* Blog Display */

.display {
    display: flex;
    width: 100vw;
}

.card img {
    width: 287px;
    border-radius: 7px;
}

.card {
    display: flex;
    border: 1px solid black;
    height: 430px;
    width: 291px;
    border-radius: 7px;
    flex-direction: column;
    margin: 0 10px 0 0;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 5px;
}

.display .card button {
    width: 200px;
    padding: 10px 20px 10px 20px;
    background-color: rgb(240, 178, 178);
    border-radius: 5px;
    color: rgb(241, 77, 77);
    font: bold;
    font-size: 17px;
    cursor: pointer;
}

.card p {
    border: 1px solid black;
    width: 213px;
    word-wrap: break-word;
    overflow: hidden;
}
.card #title {
    border: 1px solid black;
    width: 213px;
    word-wrap: break-word;
    font-weight: bold;
}