#brief {
    display: flex;
    margin: 10px;
    height: 200px;
    border: 1px solid black;
    justify-content: space-between;
    padding: 30px;
    background-color: rgb(135, 35, 250);
    border-radius: 10px;
    color: white;
}

#brief img {
    border-radius: 10px;
    height: 200px;
    width: 250px;
}

#brief div p {
    width: 900px;
    word-wrap: break-word;
}

#content {
    padding: 30px;
}